In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2022-04-22 23:42:26,38.5167,-28.7000,58.26,68,96,12.68
1,1,Qaanaaq,GL,2022-04-22 23:39:13,77.4840,-69.3632,4.41,90,100,3.47
2,2,Ambilobe,MG,2022-04-22 23:42:26,-13.2000,49.0500,72.32,92,93,3.53
3,3,Pisco,PE,2022-04-22 23:39:42,-13.7000,-76.2167,65.01,88,0,16.11
4,4,Jamestown,US,2022-04-22 23:42:27,42.0970,-79.2353,49.64,49,0,6.91

In [3]:
# get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Atar,MR,2022-04-22 23:42:28,20.5169,-13.0499,77.16,20,57,7.25
13,13,Mahebourg,MU,2022-04-22 23:42:30,-20.4081,57.7000,76.24,69,40,12.66
15,15,Victoria,HK,2022-04-22 23:40:04,22.2855,114.1577,79.97,89,10,4.00
16,16,Belmonte,BR,2022-04-22 23:42:31,-15.8631,-38.8828,77.16,80,0,6.49
27,27,Hithadhoo,MV,2022-04-22 23:39:02,-0.6000,73.0833,84.36,71,100,10.18
30,30,Bambous Virieux,MU,2022-04-22 23:42:36,-20.3428,57.7575,76.21,69,40,12.66
32,32,Bengkulu,ID,2022-04-22 23:42:37,-3.8004,102.2655,76.59,88,100,6.78
38,38,Harper,LR,2022-04-22 23:42:39,4.3750,-7.7169,78.64,83,44,2.77
49,49,Vilhena,BR,2022-04-22 23:43:44,-12.7406,-60.1458,75.42,83,20,8.05
59,59,Souillac,MU,2022-04-22 23:40:48,-20.5167,57.5167,75.58,69,40,12.66

In [10]:
preferred_cities_df.count()

City_ID       141
City          141
Country       141
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
7              Atar      MR     77.16  20.5169  -13.0499
13        Mahebourg      MU     76.24 -20.4081   57.7000
15         Victoria      HK     79.97  22.2855  114.1577
16         Belmonte      BR     77.16 -15.8631  -38.8828
27        Hithadhoo      MV     84.36  -0.6000   73.0833
30  Bambous Virieux      MU     76.21 -20.3428   57.7575
32         Bengkulu      ID     76.59  -3.8004  102.2655
38           Harper      LR     78.64   4.3750   -7.7169
49          Vilhena      BR     75.42 -12.7406  -60.1458
59         Souillac      MU     75.58 -20.5167   57.5167

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Atar,MR,77.16,20.5169,-13.0499,Oumou Elghoura
13,Mahebourg,MU,76.24,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
15,Victoria,HK,79.97,22.2855,114.1577,Mini Hotel Central
16,Belmonte,BR,77.16,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
27,Hithadhoo,MV,84.36,-0.6000,73.0833,Scoop Guest House
30,Bambous Virieux,MU,76.21,-20.3428,57.7575,Casa Tia Villa
32,Bengkulu,ID,76.59,-3.8004,102.2655,Grage Hotel Bengkulu
38,Harper,LR,78.64,4.3750,-7.7169,Screensaver
49,Vilhena,BR,75.42,-12.7406,-60.1458,Hotel Mirage
59,Souillac,MU,75.58,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]